<!-- extend the boilerplate HTML template -->
{% extends 'base.html' %}

<!-- replace the block header inline tag in the template with the below title -->
{% block header_text %}Your To-Do list{% endblock %}

<!-- replace the block form inline tag in the template with the below form endpoint -->
{% block form_action %}/lists/{{ list.id }}/add_item{% endblock %}

<!-- replace the block table inline tag in the template with the below table -->
{% block table %}
<table id="id_list_table" class="table">
        {% for item in list.item_set.all %}
      <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
    {% endfor %}
  </table>
{% endblock %}